@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#receita {
    border-width: 1px;
    border-style: solid;
    border-color: burlywood;
    border-radius: 10px;
    background-color: bisque;
    width: 50%;
    padding-left: 25px;
    padding-bottom: 20px;
}
div {
    padding-top: 14px;
    font-size: 16px;
    color: brown;
}
.categoria {
    font-weight: bolder;
}
.item {
    padding-left: 14px;
}
.item::before {
    content: ".";
    color: brown;
}
h2, h3 {
    font-family: 'Dancing Script', cursive;
}
h3 {
    font-size: 30px;
}
h2 {
    font-size: 40px;
}
.imagem {
    width: 94%;
    border-radius: 10px;
}