body {
    margin: 0;
    font-family: Arial;
    background-color: #f2f2f2;
}
.container {
    display: grid;
    grid-template-columns: 269px 269px 269px;
    grid-template-rows: 50px 50px;
}
.box {
    background-color: #f06923;
    color: #fff;
    padding: 1em;
    text-align: center;
}
.box:nth-child(even) {
    background-color: #34a6db;
}